body {
  font-family: sans-serif;
}

audio#audio {
  width: 640px;
}

a.tab {
  border-right: solid 1px black;
  border-top: solid 1px black;
  border-top-right-radius: 10px;
  padding: 3px;
}

div#pagewrap {
  width: 800px;
  margin: 20px auto;
}

div#draw-container {
  width: 640px;
  height: 434px;
  display: none;
}

div#timeline-div {
  width: 800px;
}

table#timeline-table {
  width: 500px;
  margin: 10px auto;
}

table#timeline-table td {
  border-top: solid 1px black;
  text-align: center;
}

div#view-container {
  border-left: 1px black solid;
  border-right: 1px black solid;
  width: 640px;
  margin: 0px auto;
}
div#view {
  width: 640px;
  height: 400px;
}

div#preload {
  display: none;
}
