<!DOCTYPE html>
<html>
<head>
  <title>Animatic Editor</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="draw.js"></script>
  <script src="jscolor/jscolor.js"></script>
  <script src="ui.js"></script>
  <script src="timeline.js"></script>
  <script src="options.js"></script>
</head>
<body>
  <div id='pagewrap'>
    <div id='view-container'>
      <a class='tab' id='tab-animatic' href='#'>View Animatic</a>
      <a class='tab' id='tab-draw' href='#'>Draw Frame</a>
      <a class='tab' id='tab-options' href='#'>Options</a>
      <div id='view'></div>

    <!-- These are the drawing tools and canvases -->
      <div id='draw-container'>
        <div class='controls' id='draw-toolbar-top'>
          <button id='save-frame' onclick='window.saveFrame()'>Save</button>
          <button id='save-frame' onclick='window.deleteFrame()'>Delete</button>
          <button id='save-frame' onclick='window.cloneFrame()'>Clone</button>
          <input id='onion-toggle' type="checkbox"></input>
        </div>
        <div id='canvas-block'>
          <canvas id='draw' width=640 height=400>Browser needs to support canvas</canvas>
          <canvas id='onion-canvas' width=640 height=400>Browser needs to support canvas</canvas>
        </div>
        <div id='tools-container'>
          <div class='tool' id='pencil'>Pencil</div>
          <div class='tool' id='eraser'>Eraser</div>
          <div class='tool' id='fill'>Fill</div>
          <div class='tool' id='dropper'>Dropp er</div>
          <input class='color' id='color' value="000000"></input>
          <div class='tool' id='clear'>Clear</div>
        </div>
      </div>

    <!-- Options -->
      <div id='options-container'>
        <div id='options-save'>
          <form action='http://localhost:3666/audioupload' method='post' enctype='multipart/form-data'>
            Title:<input id='project-title' type='text'></input><br/>
            Audio:<input id='audio-file' type='file' name='audio-file'></input><br/>
            <button id='project-save'>Save</button>
            <button id='project-publish'>Publish</button>
            <input type='submit'></input>
          </form>
        </div>
      </div>

      <audio id="audio" preload="auto" controls>
      </audio>
    </div>

    <!-- Timeline controls / view -->
    <div id='timeline-container'>
      <div class='controls'>
        <select id='insert-pic-select'></select>
        <button id='insert-pic-button' onclick='window.addFrame()'>Add</button>
        <button id='delete-chunk-button'>Delete</button>
      </div>
    </div>

    <div id='bottom-controls' class='controls'>
      Scale:<input id='scale-range' type='range' min='.01' max='1' step='.01' value='.1' />
    </div>

  </div>
</body>
